/*
Selector{
    Propiedad: valor;
    Propiedad: valor;
    Propiedad: valor;
}
*/
/*Config Basicas - Reset*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: rgb(225, 225, 225);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#header{
    background-color: black;
    position: sticky;
    top: 0;
}
#header h1{
    color: white;
    font-size: 2rem;
    font-weight: 300px;
}