/*
Selector{
    Propiedad: valor;
    Propiedad: valor;
    Propiedad: valor;
}
*/
/*Config Basicas - Reset*/
@import "general-sections.css";
@import "header-nav.css";
@import "section-aboutme.css";
@import "section-projects.css";
@import "section-blog.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: rgb(225, 225, 225);
}
